/*  物体，物体被打中，枪，子弹发射*/

.grid {
  width: 320px;
  height: 320px;
  border: 1px solid slategray;
  display: flex;
  flex-wrap: wrap;
}

.grid div{
  width: 20px;
  height: 20px;
}

.user {
  background: green;
}

.bomb {
  background: orange;
}

.enemy {
  background: purple;
  border-radius: 50%;
}

.bombHitEnemy {
  background: red;
}